[submodule "dwm"]
	path = .config/dwm
	url = git@github.com:sstefanofm/dwm
[submodule "nvim"]
	path = .config/nvim
	url = git@github.com:sstefanofm/nvim-cfg.git
[submodule ".config/dwl"]
	path = .config/dwl
	url = git@github.com:sstefanofm/dwl.git
